body {
  margin: 0;
  padding: 0;
}
.whole-page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.page-header{
    position: sticky;
    display: flex;
    background-color: rgb(141, 122, 163);
    width: 100%;
    box-shadow: 0 3px 35px rgba(45, 1, 71, 0.418);
    flex-direction: column;
    padding-top:.4rem;
    padding-bottom: .4rem;
}
.page-header .main-products-links-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-products-links-container .main-products-links{
    display: flex;
    flex-direction: row;
    gap: 10rem; /* space between each item */

}
.main-products-links .header-buttons p{
  position: relative;
  cursor: pointer;
  font-size: 1.5rem
}

.main-products-links .header-buttons p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s ease;
}

.main-products-links .header-buttons p:hover::after {
  width: 100%;
}

.page-header .header-container{
    display: flex;
    padding: 0;
    flex-direction: row; /* Stacks items vertically */
    align-items: center;
    justify-content: space-evenly;
    /* gap: 20rem */
}

.header-container .bakery-pic-button{
    background: none;
    border: 2px solid #ccc;
    padding: 0;
    cursor: pointer;
    border-radius: 50%; /* Makes the button round */
    overflow: hidden;   /* Ensures image stays within circle */
    width: 100px;
    height: 100px;
    transition: border-color 0.3s ease;
}
.bakery-pic{
        width: 100%;
        height: 100%;
        object-fit: cover; /* Prevents image stretching */
    }

.header-container .header-message-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container .cart-search{
    display:flex;
    flex-direction: row;
    gap: 1rem;
}

.header-message{
    font-family: "Dancing Script";
    font-size: 2rem;
    font-weight: bold;
}

.cart-icon svg {
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: 0.2s;
}
.search-icon svg {
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: 0.2s;
}
.search-bar-icon svg{
    width: 22px;
    height: 22px;
    cursor: pointer;
    transition: 0.2s;
}
.arrow-icon svg{
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding-top: 1.8rem 
}
.arrow-icon-starter svg{
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding-top: 1.8rem 
}
.exit-icon svg{
    width: 28px;
    height: 28px;
    cursor: pointer;
    transition: 0.2s;
    position: absolute;
    top: 0;
    right: 0;
}

.cart-icon svg:hover {
  transform: scale(1.1);
}

.search-icon svg:hover {
  transform: scale(1.1);
}


/* Container (can stay simple) */
.cart-collapsable-container {
    position: relative;
}

.search-collapsable-container {
    position: relative;
}

.cart-collapsable-content {
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 0;
    right: 0;

    width: 20%;
    height: 100vh;
    background: white;

    z-index: 1000;
    box-shadow: -4px 0 15px rgba(0,0,0,0.2);

    gap: 10%;
    padding: 1rem;

    /* 👇 hidden state */
    transform: translateX(100%);
    transition: transform 0.2s ease-in-out;
}

.search-collapsable-content {
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 0;
    right: 0;

    width: 20%;
    height: 100vh;
    background: white;

    z-index: 1000;
    box-shadow: -4px 0 15px rgba(0,0,0,0.2);

    gap: 10%;
    padding: 1rem;

    /* 👇 hidden state */
    transform: translateX(100%);
    transition: transform 0.2s ease-in-out;
}

/* 👇 visible state */
.cart-collapsable-content.open {
    transform: translateX(0%);
}

/* 👇 visible state */
.search-collapsable-content.open {
    transform: translateX(0%);
}

/* === TEXT === */
.middle-cart-collapsable-content p {
    text-align: center;
    font-size: 1.5rem;
}
.middle-search-collapsable-content input {
    width: 100%;
    height: 100%;
}
/* === OVERLAY === */
.overlay {
    position: fixed;
    inset: 0; /* full screen */

    background: rgba(0, 0, 0, 0.5);
    z-index: 999;

    /* 👇 hidden state */
    opacity: 0;
    pointer-events: none;

    transition: opacity 0.3s ease;
}

/* 👇 visible state */
.overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.shop-bakery-message{
    display: flex;
    flex-direction: row;
}
.shop-starters-message{
    display: flex;
    flex-direction: row;
}
.arrow-icon{
    display: none;
}
.arrow-icon-starter{
    display: none;
}

.arrow-icon.active{
    display: block;
}
.arrow-icon-starter.active{
    display: block;
}




.shop-bakery-container{
    display:block;
    position: relative;
    align-items: center;
}
.shop-starters-container{
    display:block;
    position: relative;
    align-items: center;
}

.shop-bakery-content-container{
    top: 100%;
}
.shop-starters-content-container{
    top: 100%;
}


.shop-bakery-content{
    display: flex;
    align-items: left;
    flex-direction: column;
    position: absolute;
    width: 20rem;
    
    /* makes it have cureved edges*/
    border-radius: 15px;

    background: white;
    box-shadow: -4px 0 15px rgba(0,0,0,0.2);

    height:0;

    opacity: 0;
    transform: translateY(-10px);

    
    transition: 
        transform 0.2s ease;
    pointer-events: none;
}

.shop-bakery-content.active{
    pointer-events: auto;
}

.shop-starters-content{
    display: flex;
    align-items: left;
    flex-direction: column;
    position: absolute;
    width: 20rem;
    
    /* makes it have cureved edges*/
    border-radius: 15px;

    background: white;
    box-shadow: -4px 0 15px rgba(0,0,0,0.2);

    height:0;

    opacity: 0;
    transform: translateY(-10px);

    
    transition: 
        transform 0.2s ease;
    pointer-events: none;
}
.shop-starters-content.active{
    pointer-events: auto;
}


.shop-bakery-content p{
    padding-left: 2rem;
    font-size: large;
}
.shop-starters-content p{
    padding-left: 2rem;
    font-size: large;
}


.shop-bakery-content p:hover{
    cursor: pointer;
    text-decoration: underline;
}
.shop-starters-content p:hover{
    cursor: pointer;
    text-decoration: underline;
}


.shop-bakery-content.active{
    height: auto;
    opacity: 1;
    transform: translateY(0);
}
.shop-starters-content.active{
    height: auto;
    opacity: 1;
    transform: translateY(0);
}




.search-container {
  display: flex;
  align-items: center;
  width: 95%;
  max-width: 500px;
  background: #f5f5f5;
  padding: 6px 10px;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  padding: 10px;
}


.search-bar-icon {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

.search-bar-icon:focus,
.search-bar-icon:focus-visible {
  outline: none;
  box-shadow: none;
}

/* ====== Main content- home page ===== */
.center-container{
    margin: 3rem auto;
    width: 80rem;
    max-width: 100%;
}

.content{
    flex:1;
    background-color: rgb(235, 218, 197);
}

.pop-recipe-container{
    display: flex;
    flex-direction: column;
    font-family: "SE Inter", "Space Grotesk", helvetica, sans-serif;
    font-size: 2.5rem;
    padding-bottom: 2rem;
}
.pop-starter-container{
    display: flex;
    flex-direction: column;
    font-family: "SE Inter", "Space Grotesk", helvetica, sans-serif;
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

/* ==== pop recipe card ======*/
.pop-card-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}


.pop-card-title p{
    margin:0;
    padding-bottom: 1rem;
}

.pop-card-content{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
}
.individual-card{
    flex: 1 1 400px; /* each card ~300px wide */
    max-width: 400px;
}

.individuale-card-photo{
    width: 100%;
    aspect-ratio: 3 / 2;   /* 🔥 makes it a perfect square */
    overflow: hidden;
}
.individuale-card-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;      /* fills box nicely */
    display: block;         /* removes weird spacing */
}
.individual-card-name-container{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    background-color: rgb(235, 213, 186);
}

 .individual-card-name{
    width: 100%;
    display:flex;
    flex-direction: column;
    overflow-wrap: break-word;
    word-break: break-word;

    padding: 1rem;
    box-sizing: border-box;
}
.card-name-category{
    font-size: 1rem;
    font-weight: lighter;
    padding-bottom: 1rem;
}
.individual-card-name a {
    text-decoration: none;       /* removes default underline */
    color: inherit;              /* keeps your text color */
}

.individual-card-name a:hover {
    cursor: pointer;
    text-decoration: underline;
}


/* ==== individual recipe page ======*/
.recipe-page-container{
    display: grid;
    grid-template-columns: minmax(0, 50rem) 18rem;
    margin:1rem auto;
    width: 68rem;
    justify-content: space-evenly;
}
.recipe-container{
    display:flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
}
.recipe-information-container .title{
    font-size: 5rem;
    font-weight: bold;
}
.recipe-information-container .recipe-description{
    font-size: 2.5rem;
    color: rgb(109 99 99);
}
.recipe-information-container img{
    width: 100%;
    max-height: 800px;
}

/* grid-template-columns: minmax(0, 37.5rem) 18.75rem; */


/* ==== search page ======*/
.page-content{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    height: 100%;
}
.pop-card-content.search{
    display: flex;
    flex-direction: row;
    gap: 4%;

}

