{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <div class="pop-recipe-container center-container">
        <div class="pop-card-container recipe">
            <div class="pop-card-title recipe">
                <p>Popular Recipes</p>
            </div>
            <div class="pop-card-content recipe">
                {% for recipe in recipe_dict %}
                    <div class="individual-card recipe">
                        <div class="individuale-card-photo recipe">
                            <a href="{{ url_for('recipe', recipeName=recipe.name)}}">
                                <img src="{{ url_for('static', filename='images/' ~ recipe.image) }}">
                            </a>
                        </div>
                        <div class="individual-card-name-container">
                            <div class="individual-card-name recipe">
                                <div class="card-name-category">
                                    {{ recipe.cat }}
                                </div>
                                                            
                                <a href="{{ url_for('recipe', recipeName=recipe.name)}}">
                                    {{ recipe.name }}
                                </a>
                            </div>
                        </div>
    
                    </div>
                {% endfor %}
            </div>
        </div>    
    </div>
    <div class="pop-starter-container center-container">
        <div class="pop-card-container recipe">
            <div class="pop-card-title recipe">
                <p>Most Bought Starters</p>
            </div>
            <div class="pop-card-content recipe">
                {% for recipe in recipe_dict %}
                    <div class="individual-card recipe">
                        <div class="individuale-card-photo recipe">
                            <a href="{{ url_for('recipe', recipeName=recipe.name)}}">
                                <img src="{{ url_for('static', filename='images/' ~ recipe.image) }}">
                            </a>
                        </div>
                        <div class="individual-card-name-container">                        
                            <div class="individual-card-name">
                                <div class="card-name-category">
                                    {{ recipe.cat }}
                                </div>
                                <a href="{{ url_for('recipe', recipeName=recipe.name)}}">
                                    {{ recipe.name }}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>    
    </div>
    
{% endblock %}

<!--site for js and tab usage     https://www.w3schools.com/howto/howto_js_tabs.asp    -->

<!--use result variable to create new flag buttons, use js to create the buttons and use html to call the function in js-->